
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
}
:root{
  --primary-font: font-family: "Work Sans", sans-serif;
  --secondary-font:font-family: "Merriweather", serif;
  --text:#041304;
  --bg:#f7fef8;
  --lg-green:hsl(125, 69%, 53%, 5%);
  --green:hsl(125, 69%, 53%, 20%);
  --primary:#32da40;
  --secondary:hsl(198, 69%, 71%, 20%);
  --accent:#6789e3;
}
body{
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--bg);
    font-family: var(--primary-font);
    scroll-behavior: smooth; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
  }

#root {
  margin: 0 auto;
  text-align: center;
}
.hide{
  display: none;
}
.link:hover{
  color: var(--accent);
  text-decoration: underline;
}

.skip-nav-link{
  position: absolute;
  left: 3rem;
  transform: translateY(-900%);
  border-radius: 10px;
  background: var(--primary);
  color: var(--text);
}
  .skip-nav-link:focus,.skip-nav-link:focus-visible{
    transform: translateY(-100%) ;
    transition: transform 100ms ease-in;
    text-decoration: none;
}
a{
  font-size: 1.45rem;
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-family: var(--secondary-font);
  
}
h1{
 margin: 0;
 font-family: var(--secondary-font);
 font-weight: 900;
}
h2{
  font-size: 2rem;
  font-family: var(--secondary-font);
 font-weight: 600;

}
h3{
font-family: var(--secondary-font);
width: 80%;
font-size: 1.25rem;
margin-left: auto;
margin-right: auto;
line-height:1.7;
}

header{
  background-color: var(--secondary);
  position: fixed;
  z-index: 2;
  padding-bottom:3em ;
  width: 100%;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

main{
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
section:not(.container){
  margin-top: 8.5em;
}

p{
  font-size: 1.25rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--text);
  position: absolute;
  height: 4px;
  width: 30px;
  transition:transform 400ms cubic-bezier(0.23, 1, 0.32, 1) ;
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform:rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg) ;
}
.container{
  margin-top: 4em;
  padding: 2em;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  row-gap: 2em;
  padding-top: 1em;
}
.post{
  padding: 1em;
  background-color:var(--lg-green);
  box-shadow: 0 8px 32px 0 rgba(248, 248, 248, 0.37);
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  line-height: 1.6;

}
.single-post{
  border-radius: 6px;
  padding: 2em;
  background-color: var(--green);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
h2 + p{
  margin: 0 auto;
  width:45ch;
}
 form{
  display: flex;
  flex-direction: column;

 }
  input,textarea,select{
  background-color: var(--text);
  padding: 1rem;
  border: none;
  border-radius: 22px;
  border-bottom: 2px solid var(--bg);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  color: var(--bg);
}
select{
  appearance: none;
}
 form label{
  font-size: 1.5rem;
 text-align: left;
 }
 :focus{
  outline: none;
 }
button::-moz-focus-inner{
  border: 0;
}

 form button{
  margin-top: 0.75em;
  background-color:var(--accent);
  color: var(--text);
 }
 .btn-delete{
  background-color:var(--primary);
 }
 .reactionsBtns{
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #000000;
 }
  .edit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  button:hover,button:focus{
    opacity: 0.9;
    transform: scale(1.1);
   }
   @supports selector(:focus-visible){
     button:focus{
       transform: scale(1.4);
     }
     button:hover {
       opacity: 0.9;
       transform: scale(1.2);
      }
     button:focus-visible {
       transform: scale(1.4);
       outline-offset: 1rem;
       opacity: 0.8;
     }
     }
  

@media (max-width:675px) {
    header{
      padding-bottom: 4em;
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 65px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      background-color: transparent;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: var(--text);
      background-color: var(--secondary);
    }
  
  }
h1{
  flex-shrink: 0;
}

.container{
grid-auto-flow: row;

  }
  .post{
    padding: 0.35em;

  }
  h2 + p{
    width: 90%;
  }
 
.skip-nav-link,.skip-nav-link:focus{
  display: none;
}

@media(prefers-reduced-motion){
  html{
   scroll-behavior: auto;
}
}
@media(prefers-color-scheme:dark){
  :root{
    --text:#eafbea;
    --bg:#010902;
    --lg-green:hsl(125, 69%, 47%, 5%);
    --green:hsl(125, 69%, 53%, 20%);
    --primary:#25cb33;
    --secondary:hsl(198, 69%, 29%, 30%);
    --accent:#1c3d97;
  }
}
 