*,*::after,*::before{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f6fefd;
    color: #010e0d;
    scroll-behavior: smooth; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
  }
  
  
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.hide{
  display: none;
}
.link:hover{
  color: #1ce9ca;
}
.accent-sc{
  color: #ad78f2;
}
.accent-pr{
  color:#e44eef
}
.skip-nav-link{
  position: absolute;
  left: 3rem;
  transform: translateY(-900%);
  border-radius: 10px;
  background: #e44eef;
  color: #f6fefd;
  }
  .skip-nav-link:focus,.skip-nav-link:focus-visible{
  transform: translateY(-100%);
  transition: transform 100ms ease-in;
  text-decoration: none; 

  }
a{
  text-decoration: none;
}
h1{
  align-self: flex-start;
}
h2{
  font-size: 2rem;
}
h3{
font-size: 65ch;
width: 80%;
font-size: 1.25rem;
margin-left: auto;
margin-right: auto;
line-height:1.7;
}
header, ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

ul{
  list-style: none;
}
 li+li{
  
  margin-left: 3rem;

}
p{
  font-size: 1.25rem;
}
.mobile-nav{
  display: none;
}
 .container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 70%);
  row-gap: 4em;
  column-gap: 2.5em;
  padding-top: 1em;
}
.post{
  background-color:transparent;
  box-shadow: 0 8px 32px 0 rgba(248, 248, 248, 0.37);
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  line-height: 1.5;
}

 form{
  display: flex;
  flex-direction: column;

 }
 form label{
  font-size: 1.5rem;
 text-align: left;
 }
 :focus{
  outline: none;
 }
button::-moz-focus-inner{
  border: 0;
}
 form button{
  margin-top: 0.75em;
  background-color:#e44eef;
  color: #f6fefd;
 }
 .btn-delete{
  background-color: #ad78f2;
 }
 .reactionsBtns{
  border: none;
  border-radius: 0;
  background-color: transparent;
 }
  .edit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  button:hover,button:focus{
    opacity: 0.7;
    transform: scale(1.1);
   }
   @supports selector(:focus-visible){
     button:focus{
       transform: scale(1.4);
     }
     button:hover {
       opacity: 0.5;
       transform: scale(1.2);
      }
     button:focus-visible {
       transform: scale(1.4);
       outline-offset: 1rem;
       opacity: 0.8;
     }
     }
  
@media (prefers-color-scheme: dark) {
 body{
  background-color: #010908;
  color:hsl(175, 87%, 97%) ;
  }
  .link:hover{
    color: #16e3c5
  }
  .accent-sc{
    color: #420d87
  }
  .accent-pr{
    color:#a710b1
  }
  nav .link{
     color: #16e3c5;
  }
}
@media (max-width:675px) {
  header  {
flex-direction: row;
justify-content: space-between;
}
h1{
  flex-shrink: 0;
}
.container{
    display: flex;
    flex-direction: column;
    padding-top: 4em;
  }
 .desktop-nav{
  display: none;
 }

.mobile-nav ,ul{
  display: contents;
  flex-direction: column;
}
li+li{
  margin-top: 1.25em;
}
.dropdown-btn,.close-btn{
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
.toggle-menu{
text-align: right;
}
.skip-nav-link,.skip-nav-link:focus{
  display: none;
}
}
@media(prefers-reduced-motion){
  html{
   scroll-behavior: auto;
  }
   
 }
